<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Todos los productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <div *ngFor="let product of products; index as i">
      <ion-item-sliding (ionSwipe)="check(i)" (click)="viewDetails(product)">
        <ion-item>
          <ion-label>{{product.name}}</ion-label>
          <ion-chip color="success" *ngIf="product.check">
            <ion-label>Producto adquirido</ion-label>
          </ion-chip>
          <ion-chip color="danger" *ngIf="!product.check">
            <ion-label>Falta por comprar</ion-label>
          </ion-chip>
        </ion-item>
        <ion-item-options side="start">
        </ion-item-options>
      </ion-item-sliding>
    </div>
  </ion-list>
</ion-content>
