<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Productos adquiridos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <div *ngFor="let product of products; index as i">
      <ion-item-sliding (ionSwipe)="check(i)" *ngIf="product.check" (dblclick)="viewDetails(product)">
        <ion-item>
          <ion-label>{{product.name}}</ion-label>
          <ion-chip color="success">
            <ion-label>Producto adquirido</ion-label>
          </ion-chip>
        </ion-item>
        <ion-item-options side="start">
        </ion-item-options>
      </ion-item-sliding>
    </div>
  </ion-list>
</ion-content>
